    /*背景图片的浅入浅出*/
    @keyframes bglook{
        0%{opacity:0;}
        30%{opacity:1;}
        90%{opacity:1;}
        100%{opacity:0;}
   }
   #bgimg{
       animation:bglook 8s infinite;
   }
   /*背景图片的父标签*/
   #bgimgfather{
    position:absolute;
    width:100%;
    height:100%;
   }
   /*登录/注册半透明模块*/
   #signInUp{
    background:rgba(255,255,255,0.9);
    height:512px;
    width:364px;
    position:absolute;
    z-index:1;
    top:50%;
    left:50%;
    margin-top:-256px;
    margin-left:-182px;
    border-radius:5px;
   }
   /*保持与登录/注册半透明模块的边距*/
   #signInUp>div{
    margin:50px 30px;
   }
   /*站标100%填充*/
   #picEvEbd{
    width:100%;
   }
   /*文本：让创作变得更有趣*/
   #wen1{
    color:#757c80;
    font:bold 8px 宋体;
    text-align:center;
    margin:10px 0px 50px;
   }
   /*链接：立即注册*/
   #a1{
    display:block;
    height:40px;
    width:100%;
    border-radius:3px;
    background:#25c6ff;
    color:#fff;
    line-height:40px;
    text-align:center;
    font-weight:bold;
    font-size:18px;
    outline:none;
    margin-bottom:8px;
   }
   /*链接：登录*/
   #a2{
    display:block;
    height:40px;
    width:100%;
    border-radius:3px;
    background:#6d7084;
    color:#fff;
    line-height:40px;
    text-align:center;
    font-weight:bold;
    font-size:18px;
    outline:none;
    margin-bottom:16px;
   }
   /*其他方式*/
   #qita{
    box-sizing:border-box;
    height:100px;
    width:100%;
    border-radius:2px;
    border:solid 1px #dfebf2;
    background:#fff;
    padding:20px;
   }
   /*文本：用其他方式开始*/
   #wen2{
    color:#666666;
    text-align:center;
    font:bold 12px 宋体;
    margin-bottom:10px;
   }
   /*三种其他方式的父级*/
   #three{
    display:flex;
    justify-content:space-between;
   }
   /*三种其他方式的通用样式*/
   #three>a{
    display:block;
    height:40px;
    width:80px;
    border-radius:3px;
   }
   /*方式一：背景颜色/背景图片*/
   #three>a:nth-child(1){
    background:#dc4e41 no-repeat url(../image/ht5body/google.png) center center;
    background-size:30%;
   }
   /*方式二：背景颜色/背景图片*/
   #three>a:nth-child(2){
    background:#385185 no-repeat url(../image/ht5body/facebook.png) center center;
    background-size:30%;
   }
   /*方式三：背景颜色/背景图片*/
   #three>a:nth-child(3){
    background:#e32429 no-repeat url(../image/ht5body/weibo.png) center center;
    background-size:30%;
   }